<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.PointMapper">
	
	
	
	<!-- 회원 번호에 따른 직위와 포인트 잔여 보기 -->
	
	<select id="getPointPosition" parameterType="long" resultType="com.spring.dto.PointDto">
	SELECT 
	m.member_no as member_no,
    m.member_id as member_id,
    m.member_nick as member_nick,
    p.point_amount as point_amount,
    j.staff_position as staff_position
    FROM tbmall_member m
    LEFT JOIN
    tbmall_point p on m.position_no = p.position_no
    LEFT JOIN
    tbmall_position j on m.position_no = j.position_no
    WHERE
	m.member_no =#{member_no}
	</select> 
</mapper>