<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.StaffMapper">
	<!-- resultType 에 복수형(ArrayList 등)을 적는게 아님. 
	그냥 dto 단수의 경로를 적어야됨. -->
	<!-- 모든 회원 정보 -->
	<select id="getList" resultType="com.spring.dto.StaffDto">
		SELECT * FROM tbmall_member 
		ORDER BY member_no DESC
	</select>
	
	<!-- 관리자 정보만 불러오기 -->
	<select id="getAdminList" resultType="com.spring.dto.StaffDto">
		SELECT * FROM tbmall_member
		INNER JOIN tbmall_admin on tbmall_member.member_no = tbmall_admin.member_no
	</select>
	
	<select id="read" resultType="com.spring.dto.StaffDto">
	select * from tbmall_member where member_no = #{member_no}
	</select>
	<!-- 관리자 임명 삭제권한 x-->
	<insert id="adminAppoint">
		INSERT INTO tbmall_admin (member_no, delete_right_no) values (#{member_no},0)
	</insert>
	
	<!-- 삭제 권한 부여 -->
	<update id="softDelete">
	UPDATE tbmall_member 
	SET member_delete = 1
	WHERE member_no = #{member_no}
	</update>
	<!-- 삭제 권한 회수 -->
	<update id="Delete">
        UPDATE tbmall_admin 
        SET is_deleted = 1 
        WHERE member_no = #{member_no}
    </update>
	
	<!-- 삭제된 계정 복구 -->
	<update id="restore">
	UPDATE tbmall_member 
	SET member_delete = 0,
		member_delete_at = NULL
	WHERE member_no = #{member_no}
	</update>
	<!-- 삭제 권한 있는 관리자 호출 -->
	<select id="getRightofDelete" resultType="com.spring.dto.StaffDto">
		SELECT m.member_no,m.member_id ,m.member_nick ,a.admin_no, m.member_delete, a.delete_right_no
        FROM tbmall_member m
        LEFT JOIN tbmall_admin a ON m.member_no = a.member_no
        WHERE a.delete_right_no = 1<!-- delete_right_no 가 1일시 삭제 권한이 있음 ,0이면 없음 -->
	</select>
	
	
	<!-- 삭제된 계정 (관리자 포함) 호출 -->
	<select id="getDeletedStaff" resultType="com.spring.dto.StaffDto">
	 SELECT m.member_no,m.member_id,m.member_nick ,a.admin_no, m.member_delete_at
        FROM tbmall_member m
        LEFT JOIN tbmall_admin a ON m.member_no = a.member_no
        WHERE m.member_delete = 1
	</select>
	<!-- 로그인 -->
	<select id="login" resultType="com.spring.dto.StaffDto">
		SELECT 
			m.*,
			a.admin_no,
			a.delete_right_no
		FROM 
			tbmall_member m
			LEFT JOIN tbmall_admin a ON m.member_no = a.member_no
		WHERE 
			m.member_id = #{member_id} 
			AND m.member_pw = #{member_pw}
			AND (m.member_delete = 0 OR m.member_delete IS NULL)
	</select>
	<!-- 관리자 권한 확인 -->
	<select id="checkAdminAuth" resultType="com.spring.dto.StaffDto">
		SELECT 
			m.*,
			a.admin_no,
			a.delete_right_no
		FROM 
			tbmall_member m
			INNER JOIN tbmall_admin a ON m.member_no = a.member_no
		WHERE 
			m.member_no = #{member_no}
			AND a.delete_right_no = 1
	</select>
	<!-- 계정정보 수정 인듯? -->
	<update id="update" parameterType="com.spring.dto.StaffDto">
    UPDATE tbmall_member 
    SET 
        member_nick = #{member_nick},
        member_pw = #{member_pw},
        member_phone = #{member_phone}
        member_email =#{member_email}
    WHERE member_no = #{member_no}
</update>
</mapper>